@import '../../../styles-variables';

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.heading-card {
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 0px;
  text-align: center;

  h1 {
    margin: 0px;
    padding: 15px 0px 5px 0px;
    font-weight: 800;
  }
  button {
    width: 100%;
    max-width: 325px;
    padding: 0px 4px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.login-card {
  margin: 7vh 0;
  padding: 0px;
  text-align: center;
  border-radius: 4px;
  h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
  }
}

.login-card-content {
  padding: 40px;
}

.social-btn > * {
  width: 100%;
  height: 40px;
  max-width: 220px;
  margin: 8px 0px;
  padding: 0px 16px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    padding-left: 16px;
  }

  mat-icon {
    width: 18px;
    height: 18px;
    display: inline-flex;
    vertical-align: middle;
  }
}

.btn-google {
  color: #757575;
  background-color: white;
}

.btn-fb {
  color: white;
  background-color: #29487d;
}

.btn-twitter {
  color: white;
  background-color: #1da1f2;
}

.btn-github {
  color: white;
  background-color: #333;
}

.btn-email {
  color: white;
  background-color: #02bd7e;
}

.em-or {
  padding-top: 0px;
  width: 75%;
  margin: 10px auto 30px auto;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  span {
    padding: 7px;
    position: relative;
    top: 7px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  mat-form-field {
    margin: 10px 0px;

    mat-icon {
      cursor: pointer;
    }
  }
}

.form-container > * {
  width: 100%;
  margin-bottom: 15px;
}

.terms-container {
  margin-top: 8px;

  h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
  }
}

.features-card {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background-color: transparent;

  img {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 731px;
    margin: 0px;
    padding: 0px;
  }
  h1 {
    background: orange;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px;
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .login-card {
    margin: 6vh 0;
  }

  .login-card-content {
    padding: 34px;
  }

  .features-card {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    text-align: left;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .login-card {
    margin: 5vh 0;
  }

  .login-card-content {
    padding: 28px;
  }

  .features-card {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    text-align: left;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .login-card {
    margin: 4vh 0;
  }

  .login-card-content {
    padding: 38px;
  }

  .features-card {
    margin: 4vh 0;
    padding: 0px;
    text-align: center;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .login-card {
    margin: 3vh 0;
  }

  .login-card-content {
    padding: 24px;
  }

  .features-card {
    margin: 3vh 0;
    padding: 0px;
    text-align: center;
  }
}
