<div class="wrapper">
  <mat-card class="heading-card" [class.mat-elevation-z0]="true">
    <h1 class="mat-headline" [ngClass]="routeAnimationsElements">{{ 'amds.account.register.title' | translate }}</h1>
    <button mat-stroked-button color="accent" (click)="goLogin()" [ngClass]="routeAnimationsElements">{{ 'amds.account.register.btn-login' | translate }}</button>
  </mat-card>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-0 col-lg-5 offset-lg-0" *ngIf="user$ | async as user">

          <mat-card class="login-card" [ngClass]="routeAnimationsElements">

              <div>
                <mat-progress-bar *ngIf="user.loading" mode="indeterminate" ></mat-progress-bar>
              </div>

              <mat-card-content class="login-card-content">
                <h3 class="mat-subheading-2" [ngClass]="routeAnimationsElements">{{ 'amds.account.register.sign-head' | translate }}</h3>
                <h4 class="mat-subheading-1" [ngClass]="routeAnimationsElements">{{ 'amds.account.register.sign-sub-head' | translate }}</h4>
    
                <div class="social-btn">
                  <button class="btn-google" (click)="signUpWithGoogle()" mat-raised-button [disabled]="user.loading || user.uid" [ngClass]="routeAnimationsElements">
                    <mat-icon svgIcon="google-ic"></mat-icon>
                    <span>{{ 'amds.account.register.sign-google' | translate }}</span>
                  </button>
                </div>
                <div class="social-btn">
                  <button class="btn-fb" mat-raised-button (click)="signUpWithFacebook()" [disabled]="user.loading || user.uid" [ngClass]="routeAnimationsElements">
                    <mat-icon svgIcon="facebook-ic"></mat-icon>
                    <span>{{ 'amds.account.register.sign-facebook' | translate }}</span>
                  </button>
                </div>
                <div class="social-btn">
                  <button class="btn-twitter" mat-raised-button (click)="signUpWithTwitter()" [disabled]="user.loading || user.uid" [ngClass]="routeAnimationsElements">
                    <mat-icon svgIcon="twitter-ic"></mat-icon>
                    <span>{{ 'amds.account.register.sign-twitter' | translate }}</span>
                  </button>
                </div>
                <div class="social-btn">
                    <button class="btn-github" mat-raised-button (click)="signUpWithGithub()" [disabled]="user.loading || user.uid" [ngClass]="routeAnimationsElements">
                      <mat-icon svgIcon="github-ic"></mat-icon>
                      <span>{{ 'amds.account.register.sign-github' | translate }}</span>
                    </button>
                </div>

                <div class="em-or">
                  <span>{{ 'amds.account.register.sign-or' | translate }}</span>
                </div>

                <form class="form-container" [formGroup]="registerForm" (ngSubmit)="submitHandler()" [ngClass]="routeAnimationsElements">

                  <mat-form-field appearance="fill">
                      <mat-label>{{ 'amds.account.welcome.form-name' | translate }}</mat-label>
                      <input matInput placeholder="{{ 'amds.account.welcome.form-name-input' | translate }}" formControlName="name" required>
                      <mat-icon matSuffix aria-label="focused/hovered ">
                        alternate_email
                      </mat-icon>
                      <mat-error *ngIf="registerForm.get('name').hasError('required')">{{ 'amds.account.welcome.form-name-req' | translate }}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'amds.account.login.form-mail' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'amds.account.login.form-mail-input' | translate }}" formControlName="email" required>
                    <mat-icon matSuffix matTooltip="{{ 'amds.account.login.form-mail-tooltip' | translate }}" aria-label="displays tooltip on focused/hovered over" (click)="insertAt()">
                      alternate_email
                    </mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">{{ 'amds.account.login.form-mail-req' | translate }}</mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">{{ 'amds.account.login.form-mail-invalid' | translate }}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>{{ 'amds.account.login.form-pass' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'amds.account.login.form-pass-input' | translate }}" formControlName="password" [type]="hidePass ? 'password' : 'text'" required>
                    <mat-icon matSuffix matTooltip="{{ 'amds.account.login.form-pass-tooltip' | translate }}" aria-label="tooltip on focused/hovered over" (click)="hidePass = !hidePass">{{hidePass
                      ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">{{ 'amds.account.login.form-pass-req' | translate }}</mat-error>
                    <mat-error *ngIf="registerForm.get('password').hasError('minlength')">{{ 'amds.account.login.form-pass-invalid' | translate }}</mat-error>
                  </mat-form-field>

                  <div class="social-btn">
                      <button class="btn-email" mat-raised-button type="submit" [disabled]="registerForm.invalid || user.loading || user.uid" [ngClass]="routeAnimationsElements">
                        <mat-icon svgIcon="mail-ic"></mat-icon>
                        <span>{{ 'amds.account.register.sign-email' | translate }}</span>
                      </button>
                  </div>
                </form>


                <mat-divider [inset]="true"></mat-divider>


                <div class="terms-container">
                  <h4 class="mat-subheading-1">
                    {{ 'amds.account.login.form-terms-a' | translate }}
                    <a style="text-decoration: underline;" href="https://opensource.org/licenses/MIT" target="_blank">
                      {{ 'amds.account.login.form-terms-b' | translate }}
                    </a>
                    {{ 'amds.account.login.form-terms-c' | translate }}
                    <a style="text-decoration: underline;" href="https://opensource.org/licenses/MIT" target="_blank">
                    {{ 'amds.account.login.form-terms-d' | translate }}
                    </a>
                  </h4>
                </div>

              </mat-card-content>
            </mat-card>
      </div>



      <div class="col-md-6 offset-md-0 col-lg-6 offset-lg-0">

          <mat-card class="features-card" [class.mat-elevation-z0]="true">
              <img mat-card-image src="https://www.gstatic.com/images/branding/product/2x/app_maker_64dp.png" alt="amds logo" [ngClass]="routeAnimationsElements">

              <mat-card-content class="features-card-content">
                <h1 class="headline" [ngClass]="routeAnimationsElements">{{ 'amds.account.login.headline' | translate }}</h1>
                <h2 class="title" [ngClass]="routeAnimationsElements">
                    {{ 'amds.account.login.title' | translate }}
                </h2>
                <button mat-flat-button color="primary" [ngClass]="routeAnimationsElements">{{ 'amds.account.login.register-now' | translate }}</button>
              </mat-card-content>

            </mat-card>



      </div>
    </div>
  </div>
</div>