@import '../../../styles-variables';

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.heading-card {
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 0px;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
    max-width: 728px;
    max-height: 90px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
  }
}

.logout-card {
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 0px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
    padding: 0px;
    font-weight: 800;
  }
  h2 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    width: 100%;
    max-width: 270px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.register-card {
  margin: 40px 0px;
  padding: 0px 50px;

  img {
    width: 96px;
    height: 96px;
    margin: 0px;
    padding: 0px;
  }
  h1 {
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
  }
  h2 {
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 700;
  }
  button {
    width: 100%;
    height: 50px;
    max-width: 380px;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.login-card {
  margin: 40px 0px;
  padding: 0px;
  text-align: center;
  border-radius: 4px;
  h3 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
  }
}

.login-card-content {
  padding: 50px;
}

.social-btn > * {
  width: 100%;
  height: 40px;
  max-width: 220px;
  margin: 8px 0px;
  padding: 0px 16px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    padding-left: 16px;
  }

  mat-icon {
    width: 18px;
    height: 18px;
    display: inline-flex;
    vertical-align: middle;
  }
}

.btn-google {
  color: #757575;
  background-color: white;
}

.btn-fb {
  color: white;
  background-color: #29487d;
}

.btn-twitter {
  color: white;
  background-color: #1da1f2;
}

.btn-github {
  color: white;
  background-color: #333;
}

.btn-email {
  color: white;
  background-color: #02bd7e;
}

.pass-btn > * {
  width: 100%;
  height: 40px;
  max-width: 160px;
  margin: 10px 0px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.em-or {
  padding-top: 0px;
  width: 75%;
  margin: 10px auto 30px auto;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  span {
    padding: 7px;
    position: relative;
    top: 7px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  mat-form-field {
    margin: 10px 0px;

    mat-icon {
      cursor: pointer;
    }
  }
}

.terms-container {
  margin-top: 8px;

  h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .heading-card {
    margin: 0px;
    padding: 20px;
  }

  .login-container {
    margin: 0px;
    padding: 40px;
  }

  .register-card {
    padding: 0px 40px;
    text-align: left;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .heading-card {
    margin: 0px;
    padding: 15px;
  }

  .login-container {
    margin: 0px;
    padding: 30px;
  }

  .register-card {
    padding: 0px;
    text-align: left;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .heading-card {
    margin: 0px;
    padding: 15px;
  }

  .login-container {
    margin: 0px;
    padding: 20px 50px;
  }

  .register-card {
    padding: 25px;
    text-align: center;
    margin: 0px;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .heading-card {
    margin: 0px;
    padding: 0px;
  }

  .login-container {
    margin: 0px;
    padding: 25px;
  }

  .register-card {
    padding: 15px;
    margin: 0px;
    text-align: center;
  }
}
