@import '../../../styles-variables';

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.heading-card {
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
  border-radius: 0px;
  text-align: center;

  img {
    width: 100%;
    max-width: 728px;
    margin: 0px;
    padding: 0px;
  }
}

.register-card {
  margin: 7vh 0;
  padding: 0px;
  text-align: left;
  background-color: transparent;

  img {
    width: 96px;
    height: 96px;
    margin: 0px;
    padding: 0px;
  }
  h2 {
    margin: 30px 0px;
  }
  button {
    width: 100%;
    max-width: 270px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.login-card {
  margin: 7vh 0;
  padding: 0px;
  text-align: center;

  h3 {
    margin-bottom: 10px;
    font-weight: 700;
  }
}

.login-card-content {
  padding: 40px;
}

.social-btn > * {
  width: 100%;
  height: 42px;
  max-width: 224px;
  margin: 7px 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    padding-left: 16px;
  }

  mat-icon {
    width: 18px;
    height: 18px;
    margin-left: 16px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
  }
}

.btn-google {
  color: #757575;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.btn-fb {
  color: white;
  background-color: #29487d;
  padding: 0px;
  margin: 0px;
}

.btn-twitter {
  color: white;
  background-color: #1da1f2;
  padding: 0px;
  margin: 0px;
}

.btn-github {
  color: white;
  background-color: #333;
  padding: 0px;
  margin: 0px;
}

.btn-email {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: #02bd7e;
}

.btn-password {
  padding: 0px 5px;
  margin: 0px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.em-or {
  padding-top: 0px;
  width: 75%;
  margin: 10px auto 30px auto;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  span {
    padding: 7px;
    position: relative;
    top: 7px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;

  mat-icon {
    cursor: pointer;
  }
}

.form-container > * {
  width: 100%;
  margin-bottom: 15px;
}

.terms-container {
  margin-top: 7px;

  h4 {
    margin: 0px;
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .heading-card {
    margin: 0px;
    padding: 20px 0px;
  }
  .register-card {
    margin: 6vh 0;
    padding: 0px 0px 0px 20px;
    text-align: left;

    h2 {
      margin: 25px 0px;
    }
  }

  .login-card {
    margin: 6vh 0;
  }

  .login-card-content {
    padding: 34px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .heading-card {
    margin: 0px;
    padding: 16px 0px;
  }

  .register-card {
    margin: 5vh 0;
    padding: 0px 0px 0px 15px;
    text-align: left;

    h2 {
      margin: 20px 0px;
    }
  }

  .login-card {
    margin: 5vh 0;
  }

  .login-card-content {
    padding: 28px;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .heading-card {
    margin: 0px;
    padding: 14px;
  }

  .register-card {
    margin: 4vh 0;
    padding: 0px;
    text-align: center;

    h2 {
      margin: 15px 0px;
    }
    button {
      margin-bottom: 15px;
    }
  }

  .login-card {
    margin: 4vh 0;
  }

  .login-card-content {
    padding: 38px;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .heading-card {
    margin: 0px;
    padding: 0px;
  }

  .register-card {
    margin: 3vh 0;
    padding: 0px;
    text-align: center;

    h2 {
      margin: 10px 0px;
    }
    button {
      margin-bottom: 10px;
    }
  }

  .login-card {
    margin: 3vh 0;
  }

  .login-card-content {
    padding: 24px;
  }
}
