<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo"/>
      <span>{{ 'amds.title.short' | translate}}</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label | translate}}
      </a>
      <a mat-list-item
         href="https://github.com/tomastrajan/angular-ngrx-material-starter"
         target="_blank">
        Github
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="toolbar" *ngIf="user$ | async as user">
    <mat-toolbar color="primary">
      <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
          <img [src]="logo"/></span>
      <span routerLink=""
            class="branding spacer center d-none d-sm-inline d-md-none"><img
        [src]="logo"/> {{ 'amds.title.short' | translate }}</span>
      <span routerLink="" class="branding spacer d-none d-md-inline"><img
        [src]="logo"/> {{ 'amds.title' | translate }}</span>

      <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation"
                  [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label | translate}}
          </button>
        </span>

      <button mat-button class="sign-in-button"
              *ngIf="!user.uid"
              (click)="onLoginClick()">
        {{ 'amds.menu.login' | translate }}
      </button>

      <button class="user-button" *ngIf="user.uid"
              mat-icon-button
              [matMenuTriggerFor]="toolbarUserMenu">
        <mat-icon [style.background]="userPhotoUrl">
          account_circle
        </mat-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon>settings_power</mat-icon>
          <span>{{ 'amds.menu.logout' | translate }}</span>
        </button>
      </mat-menu>

      <span>
        <mat-select [ngModel]="settings?.language"
                    (selectionChange)="onLanguageSelect($event)">
          <mat-option *ngFor="let l of languages" [value]="l">
            {{ l.toUpperCase() }}
          </mat-option>
        </mat-select>
      </span>

      <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
        <mat-icon>more_vert</mat-icon>
      </button>

    </mat-toolbar>
  </div>

  <div class="wrapper">

    <div class="content"
         [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://www.medium.com/@tomastrajan" target="_blank">
            <mat-icon svgIcon="medium-ic"></mat-icon>
            <span>Medium</span>
          </a>
          <a href="https://www.twitter.com/tomastrajan" target="_blank">
            <mat-icon svgIcon="twitter-ic"></mat-icon>
            <span>Twitter</span>
          </a>
          <a href="https://www.instagram.com/tomastrajan" target="_blank">
            <mat-icon svgIcon="facebook-ic"></mat-icon>
            <span>Facebook</span>
          </a>
          <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"
             target="_blank">
             <mat-icon svgIcon="youtube-ic"></mat-icon>
             <span>Youtube</span>
          </a>
          <a href="https://www.slides.com/tomastrajan" target="_blank">
            <mat-icon svgIcon="googleplus-ic"></mat-icon>
            <span>Google+</span>
          </a>
          <a class="gdev" href="https://www.github.com/tomastrajan" target="_blank">
            <mat-icon svgIcon="github-ic"></mat-icon>
            <span>Github</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; <span class="year">{{year}}</span> - GuateDev
        </div>
      </div>
    </div>
  </div>

</mat-sidenav-container>
