$amds-black-primary: mat-palette($mat-grey, 700, 300, 900);
$amds-black-accent: mat-palette($mat-blue-grey, 400);
$amds-black-warn: mat-palette($mat-red, 500);

$amds-black-theme: mat-dark-theme(
  $amds-black-primary,
  $amds-black-accent,
  $amds-black-warn
);
