$amds-primary: mat-palette($mat-indigo, 800, 300, 900);
$amds-accent: mat-palette($mat-light-blue);
$amds-warn: mat-palette($mat-pink, 600);

$amds-theme: mat-light-theme($amds-primary, $amds-accent, $amds-warn);
