$amds-light-primary: mat-palette($mat-grey, 200, 500, 300);
$amds-light-accent: mat-palette($mat-brown, 200);
$amds-light-warn: mat-palette($mat-deep-orange, 200);

$amds-light-theme: mat-light-theme(
  $amds-light-primary,
  $amds-light-accent,
  $amds-light-warn
);
