$amds-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$amds-nature-accent: mat-palette($mat-deep-purple, 300);
$amds-nature-warn: mat-palette($mat-red, 600);

$amds-nature-theme: mat-light-theme(
  $amds-nature-primary,
  $amds-nature-accent,
  $amds-nature-warn
);
