@import '~@angular/material/theming';

@mixin amds-account-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  amds-account {
    .content {
      > .built-card {
        background-color: mat-color($primary, darker);
      }
    }
  }
}
