<div class="wrapper" *ngIf="user$ | async as user">

  <div class="verification-card" *ngIf="!user.verified && !closeEmailCard" [ngClass]="routeAnimationsElements">
    <div class="row">
      <div class="col">
       <h4>{{ 'amds.account.welcome.verify-email' | translate }} {{user.email}}. {{ 'amds.account.welcome.verify-msg' | translate }}</h4>
      </div>
      <div class="col-1">
        <button mat-icon-button>
          <mat-icon aria-label="close-icon-button" (click)="hideEmailCard()">close</mat-icon>

        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-md-7 col-lg-6 col-xl-5">

        <mat-card class="heading-card" [class.mat-elevation-z0]="true">
          <h1 class="mat-headline" [ngClass]="routeAnimationsElements">{{ 'amds.account.welcome.headline' | translate }}</h1>
          <h4 class="mat-subheading-1" [ngClass]="routeAnimationsElements">{{ 'amds.account.welcome.subheadline' | translate }}</h4>
        </mat-card>

        <mat-horizontal-stepper class="mat-stepper-base" [linear]="isLinear" #stepper>

          <mat-step [stepControl]="firstFormGroup">
            <form class="form-container" [formGroup]="firstFormGroup" (ngSubmit)="updateProfileInfo()">
              <ng-template matStepLabel>{{ 'amds.account.welcome.step-profile' | translate }}</ng-template>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'amds.account.welcome.form-name' | translate }}</mat-label>
                <input matInput placeholder="{{ 'amds.account.welcome.form-name-input' | translate }}" formControlName="profileName" required>
                <mat-icon matSuffix>contacts</mat-icon>
                <mat-error *ngIf="firstFormGroup.get('profileName').hasError('required')">{{ 'amds.account.welcome.form-name-req' | translate }}</mat-error>

              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'amds.account.login.form-mail' | translate }}</mat-label>
                <input matInput placeholder="{{ 'amds.account.login.form-mail-input' | translate }}" formControlName="profileEmail">
                <mat-icon matSuffix>contact_mail</mat-icon>
                <mat-error *ngIf="firstFormGroup.get('profileEmail').hasError('email')">{{ 'amds.account.login.form-mail-invalid' | translate }}</mat-error>
                <mat-hint align="end">{{ 'amds.account.welcome.form-optional' | translate }}</mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>{{ 'amds.account.welcome.form-phone' | translate }}</mat-label>
                <input matInput placeholder="{{ 'amds.account.welcome.form-phone-input' | translate }}" formControlName="profilePhone">
                <mat-icon matSuffix>contact_phone</mat-icon>
                <mat-hint align="end">{{ 'amds.account.welcome.form-optional' | translate }}</mat-hint>

              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>{{ 'amds.account.welcome.form-company' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'amds.account.welcome.form-company-input' | translate }}" formControlName="profileCompany">
                  <mat-icon matSuffix>domain</mat-icon>
                  <mat-hint align="end">{{ 'amds.account.welcome.form-optional' | translate }}</mat-hint>
              </mat-form-field>

              <mat-form-field appearance="fill" hintLabel="{{ 'amds.account.welcome.form-bio-hint' | translate }} {{input.value?.length || 0}}/100">
                <mat-label>{{ 'amds.account.welcome.form-bio' | translate }}</mat-label>
                <textarea matInput #input maxlength="100" placeholder="{{ 'amds.account.welcome.form-bio-input' | translate }}" formControlName="profileBio"></textarea>
                <mat-icon matSuffix>library_books</mat-icon>
                <mat-hint align="end">{{ 'amds.account.welcome.form-optional' | translate }}</mat-hint>
              </mat-form-field>

              <div class="btn-container">
                <button class="step-continue-btn" mat-raised-button matStepperNext type="submit" [disabled]="firstFormGroup.invalid">
                  {{ 'amds.account.welcome.form-btn-continue' | translate }}
                  <mat-icon>arrow_right</mat-icon>
                </button>
              
              </div>
            </form>
          </mat-step>



          <mat-step [stepControl]="secondFormGroup">
            <form class="form-container" [formGroup]="secondFormGroup" (ngSubmit)="updateUserPreferences()">
              <ng-template matStepLabel>{{ 'amds.account.welcome.step-notifications' | translate }}</ng-template>

              <div class="preference-container">

                <mat-slide-toggle color="warn" formControlName="profileNotificationEmail"><b>{{ 'amds.account.welcome.notify-enable' | translate }}</b></mat-slide-toggle>
                <p>{{ 'amds.account.welcome.notify-msg' | translate }}</p>

                <mat-checkbox formControlName="profileNotificationApps">{{ 'amds.account.welcome.notify-apps' | translate }}</mat-checkbox>
                <mat-checkbox formControlName="profileNotificationTraining">{{ 'amds.account.welcome.notify-training' | translate }}</mat-checkbox>
                <mat-checkbox formControlName="profileNotificationPromo">{{ 'amds.account.welcome.notify-promo' | translate }}</mat-checkbox>
    
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'amds.account.welcome.form-language' | translate }}</mat-label>
                    <mat-select placeholder="{{ 'amds.account.welcome.form-language-input' | translate }}" formControlName="profileNotificationLang" name="language">
                    <mat-option *ngFor="let language of languages" [value]="language.value">
                      {{language.viewValue}}
                    </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>public</mat-icon>
                    <mat-hint align="end">{{ 'amds.account.welcome.form-optional' | translate }}</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>{{ 'amds.account.welcome.notify-freq-label' | translate }}</mat-label>
                    <mat-select placeholder="{{ 'amds.account.welcome.notify-freq-msg' | translate }}" formControlName="profileNotificationFrequency" name="udpate">
                      <mat-option *ngFor="let update of updates" [value]="update.value">
                        {{update.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-hint align="end">{{ 'amds.account.welcome.notify-freq-hint' | translate }}</mat-hint>
                </mat-form-field>
              </div>

              <div class="preference-container">
                  <mat-slide-toggle color="warn" formControlName="profilePushEnable"><b>{{ 'amds.account.welcome.push-enable' | translate }}</b></mat-slide-toggle>

                  <p>{{ 'amds.account.welcome.push-msg' | translate }}</p>
                  <mat-checkbox formControlName="profilePushFreeApp">{{ 'amds.account.welcome.push-freeapp' | translate }}</mat-checkbox>
                  <mat-checkbox formControlName="profilePushPaidApp">{{ 'amds.account.welcome.push-paidapp' | translate }}</mat-checkbox>
                  <mat-checkbox formControlName="profilePushCourse">{{ 'amds.account.welcome.push-course' | translate }}</mat-checkbox>
                  <mat-checkbox formControlName="profilePushVideo">{{ 'amds.account.welcome.push-video' | translate }}</mat-checkbox>
              </div>

              <div class="btn-container">
                <button class="step-continue-btn" mat-button matStepperPrevious>
                  <mat-icon>arrow_left</mat-icon>
                  {{ 'amds.account.welcome.form-btn-back' | translate }}
                </button>
                <button class="step-continue-btn" mat-button matStepperNext>
                  {{ 'amds.account.welcome.form-btn-next' | translate }}
                  <mat-icon>arrow_right</mat-icon>
                </button>
              </div>
            </form>
          </mat-step>



          <mat-step>
            <ng-template matStepLabel>{{ 'amds.account.welcome.step-done' | translate }}</ng-template>
            <div class="done-container">

              <mat-card class="done-profile-card" [class.mat-elevation-z0]="true">
                <h3 class="mat-subheading-2">{{ 'amds.account.welcome.form-step-complete' | translate }}</h3>
                <h4 class="mat-subheading-1">{{ 'amds.account.welcome.form-step-help' | translate }}</h4>

                <img mat-card-image src="{{user.photoUrl}}" alt="User Photo" *ngIf="user.photoUrl">


                <mat-card-content class="done-profile-content">
                  <mat-icon>dashboard</mat-icon>

                  <button class="done-btn" mat-raised-button (click)="redirectDashboard()">
                    {{ 'amds.account.welcome.go-dashboard' | translate }}
                  </button>
                  <mat-icon>school</mat-icon>

                  <button class="done-btn" mat-raised-button (click)="redirectCourses()">
                    {{ 'amds.account.welcome.go-courses' | translate }}
                  </button>
                  <mat-icon>share</mat-icon>

                  <button class="done-btn" mat-raised-button (click)="redirectApps()">
                    {{ 'amds.account.welcome.go-apps' | translate }}
                  </button>
                </mat-card-content>



                <div class="terms-container">
                    <h4 class="mat-subheading-1">
                      <a style="text-decoration: underline;" href="https://opensource.org/licenses/MIT" target="_blank">
                        {{ 'amds.account.login.form-terms-b' | translate }}
                      </a>
                      {{ 'amds.account.login.form-terms-c' | translate }}
                      <a style="text-decoration: underline;" href="https://opensource.org/licenses/MIT" target="_blank">
                      {{ 'amds.account.login.form-terms-d' | translate }}
                      </a>
                    </h4>
                  </div>


              </mat-card>
            </div>

            <div class="btn-container">
              <button class="step-continue-btn" mat-button matStepperPrevious>
                <mat-icon>arrow_left</mat-icon>
                {{ 'amds.account.welcome.form-btn-back' | translate }}
              </button>
              <button class="step-continue-btn" mat-button (click)="redirectProfile()">
                  {{ 'amds.account.welcome.form-btn-profile' | translate }}
                  <mat-icon>arrow_right</mat-icon>
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>



      <div class="col-md-5 col-lg-6 col-xl-7">

        <mat-card class="default-pref-card" [class.mat-elevation-z0]="true">
          <img mat-card-image src="../../../assets/app-promo.png" alt="amds logo" [ngClass]="routeAnimationsElements">
          <button mat-flat-button color="accent" (click)="useDefaultProfileInfo()" [ngClass]="routeAnimationsElements">{{ 'amds.account.welcome.bypass-btn' | translate }}</button>
          <h4 class="mat-subheading-1">{{ 'amds.account.welcome.bypass-msg' | translate }}</h4>

        </mat-card>

      </div>
    </div>
  </div>
</div>
