@import '~@angular/material/theming';

@mixin amds-welcome-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  amds-welcome {
    > .wrapper {
      color: mat-color($foreground, text);
      background-color: mat-color($background, card);
      > .verification-card {
        background-color: mat-color($warn);
      }

      > .content {
        button {
          color: mat-color($foreground, text);
          background-color: mat-color($warn);
        }

        > .row {
          > .col-md-7 {
            > .mat-stepper-base {
              .preference-container {
                background-color: mat-color($background, background);
              }

              .done-btn {
                color: mat-color($foreground, text);
                background-color: mat-color($primary);
              }
            }
          }
          > .col-md-5 {
            > .default-pref-card {
              button {
                color: mat-color($foreground, text);
                background-color: mat-color($accent);
              }
            }
          }
        }
      }
    }
  }
}
