@import 'styles-variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(inherit, 1.125, 400)
);

@include mat-core($custom-typography);

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';
@import 'app/examples/todos/components/todos-container.component.scss-theme';
@import 'app/examples/stock-market/components/stock-market-container.component.scss-theme';
@import 'app/examples/theming/parent/parent.component.scss-theme';
@import 'app/examples/theming/child/child.component.scss-theme';
@import 'app/examples/examples/examples.component.scss-theme';
@import 'app/account/account/account.component.scss-theme';
@import 'app/account/login/login.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include amds-styles-reset-theme($theme);
  @include amds-app-component-theme($theme);
  @include amds-about-component-theme($theme);
  @include amds-big-input-component-theme($theme);
  @include amds-todos-container-component-theme($theme);
  @include amds-stock-market-container-component-theme($theme);
  @include amds-parent-component-theme($theme);
  @include amds-child-component-theme($theme);
  @include amds-examples-component-theme($theme);
  @include amds-account-component-theme($theme);
  @include amds-login-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($amds-theme);
  @include custom-components-theme($amds-theme);
}

.light-theme {
  @include angular-material-theme($amds-light-theme);
  @include custom-components-theme($amds-light-theme);
}

.black-theme {
  @include angular-material-theme($amds-black-theme);
  @include custom-components-theme($amds-black-theme);
}

.nature-theme {
  @include angular-material-theme($amds-nature-theme);
  @include custom-components-theme($amds-nature-theme);
}
